[init]
	defaultBranch = main
[credential]
	helper = !gh auth git-credential
[user]
	name = mihiliii
	email = 115306746+mihiliii@users.noreply.github.com
[core]
	editor = nvim
[push]
	default = current
[pull]
	rebase = true
